.nav.top {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7973390039609594) 0%, rgba(0,0,0,0.8001401244091386) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
}

body {
    font-family: 'Roboto', sans-serif;
}

.index {
    position: absolute;
    z-index: -1;
    top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

li {
    display: inline-block;
}

li a {
    display: inline-block;
    padding: 10px;
    color: #0066cc;
    text-decoration: none;

}

.linkIpad {
    color: #6e6e73;
}

.linkIpad:hover {
    color: #6e6e73;
}

.linkPemenang {
    color: #dde2f3;
}
.linkPemenang:hover {
    color: #dde2f3;
}

#link1:hover {
    text-decoration: underline;
}

#link2:hover {
    text-decoration: underline;
}

.duabagian {
    height:550px;
    padding-top:40px;
    margin:0 0 10px;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}

.section {
    width: 100%;
    height: 736px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.section-image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 1280px;
    background-color: #FBFBFB;
    background-repeat: no-repeat;
}
.section-2 {
    width: 100%;
    height: 670px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.section-image-2{
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: 1300px;
    background-color: #FBFBFB;
    background-repeat: no-repeat;
    object-position: center;
}
.section-3 {
    width: 100%;
    height: 690px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.gambarBesar2 {
    width: 100%;
    height: 150vh;
}

.duabagian h4 {
    font-size:19px;
    font-weight:400;
}
.duabagian.behind-the-mac.dark {
    padding-top:420px;
}

footer {
    background-color: #F5F5F7;
}
